<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vue.js</title>
</head>
<body>
    <main>
        <input type="search" v-model="search" placeholder="Search Game: ">
        <ul>
            <li v-for="game in searchGame">
                {{ game.title }}
            </li>
        </ul>
        <input type="range" min="0" max="10" v-model="minimum">
    </main>

    <script src="https://unpkg.com/vue@2.3.4"></script>
    <script src="static/js/main.js"></script>
</body>
</html>
