<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vue.js</title>
</head>
<body>
    <main>
        <ul>
            <li v-for="task in tasks">{{ task | capitalize }}</li>
        </ul>
        <form v-on:submit.prevent="addTask">
            <input type="text" placeholder="Introduce your task" v-model="newTask">
            <input type="submit" value="Send task">
        </form>
    </main>
    <script src="https://unpkg.com/vue@2.3.4"></script>
    <script src="static/js/main.js"></script>
</body>
</html>
